@model IEnumerable<Movies.Models.Genres>

@{
    ViewData["Title"] = "Genres and Movies";
}



<div class="cat">

                    <h1 style="color:white;">Films</h1>

            @foreach (var genre in Model)
            {
                        <h3 style="color:white">@genre.Name</h3> <!-- Display Genre Name -->
                        <div class="container">
                            <div class="row">
                                <!-- Add g-3 for spacing -->
                                @foreach (var movie in genre.Movies)
                                {
                                    <div class="col-sm-2 mb-3">
                                        <a asp-action="Details" asp-controller="Movies" asp-route-id="@movie.Id">
                                            <img src="@movie.Image" alt="@movie.Name" style="width:100%;height:auto;" />
                                        </a>
                                    </div>
                                    <h4>@movie.Name</h4>
                                    <p>Release Year: @movie.ReleaseYear</p>
                                    <p>Ratings: @movie.Ratings</p>
                                }
                            </div>
                        </div>

                }
</div>