@model IEnumerable<Movies.Models.Genres>

@{
    ViewData["Title"] = "Genres and Movies";
}

<h1>Genres and Movies</h1>

<div class="cat">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h1 style="color:white;">Films</h1>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model)
            {
                <tr>
                    <td>
                        <h3>@genre.Name</h3> <!-- Display Genre Name -->
                        <div class="container">
                            <div class="row">
                                @foreach (var movie in genre.Movies)
                                {
                                    <div class="col-sm-2 mb-3">
                                        <a asp-action="Details" asp-controller="Films" asp-route-id="@movie.Id">
                                            <img src="@movie.Image" alt="@movie.Name" style="width:250px;height:300px;border:solid 1px;" />
                                            <h4>@movie.Name</h4>
                                            <p>Release Year: @movie.ReleaseYear</p>
                                            <p>Ratings: @movie.Ratings</p>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>