@model Movies.Models.Genres

<h1>@Model.Name</h1>

<h3>Movies in the Genre: @Model.Name</h3>
<div class="actor-info" style="flex: 2;">
<div class="col-sm-2 mb-4">
@if (Model.Movies != null && Model.Movies.Any())
{
    @foreach (var movieActor in Model.Movies)
    {
      
        <a asp-action="Details" asp-controller="Movies" asp-route-id="@movieActor.Id">
            <img src="@movieActor.Image" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;" />
        </a>
        <li class="mt-2" style="color:white;">@movieActor.Name</li> <!-- Displaying movie names -->
        
    }
}
else
{
    <p>No movies found in this genre.</p>
}
</div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
