@model IEnumerable<Movies.Models.Movie>

@{
    ViewData["Title"] = "Catalog";
}
<form asp-action="Catalog" asp-controller="Movies" method="get" class="mb-4 form">
    <div class="form-row">
        <div class="form-group col-md-4">
            <input type="text" name="nameFilter" value="@Context.Request.Query["nameFilter"]" class="form-control" style="width:300px;"placeholder="Search by name" />
        </div>
        <div class="form-group col-md-3">
            <input type="number" name="yearFilter" value="@Context.Request.Query["yearFilter"]" class="form-control" style="width:300px;" placeholder="Year" />
        </div>
        <select id="OptionToSortBy" name="OptionToSortBy" style="width:300px;" class="form-control">
            <option value="" disabled selected>Choose an option to sort by</option>
            <option value="AZ">A-Z</option>
            <option value="ZA">Z-A</option>
            <option value="Year-De">Year-Descending</option>
            <option value="Year-Ac">Year-Ascending</option>
            <option value="Low-Rating">Lowest Ratings</option>
            <option value="High-Rating">High Rating</option>
            <option value="Genre">Genre</option>
        </select>
        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>


<div >

                  
                    <h1 style="color:white;">Films</h1>
         
                    <!--Checks if our collection has any elements-->
                    @if (Model == null || !Model.Any())
                    {
                        <h1 class="text-white">The movie was not Found</h1>
                    }
                    else
                    {
                        
                    <div class="d-flex flex-row">
            
            
            <div class="container">
                        <div class="row gap-5">
                            @foreach (var item in Model)
                            {

                                <div class="flip-card">
                                 <div class="flip-card-inner">
                                 <div class="flip-card-front">
                                    <img src="@item.Image" alt="Avatar" style="width:250px;height:400px;">
                                </div>
                                <div class="flip-card-back">
                                    <h1>@item.Name</h1>
                                    <p><h3>Released: @item.ReleaseYear Ratings:@item.Ratings</h3></p>
                                    <p>@item.Description</p>
                                    <a asp-action="Details" asp-controller="Movies" class="btn buto" asp-route-id="@item.Id">Click here for more Information</a>
                                </div>
                            </div>
                        </div>
                               
                            }
                        </div>
                    </div>
                    </div>
                    }
           
</div>