@model Movies.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container">
    <div class="row">
        <!-- First Column: Movie Image -->
        <div class="col-sm-6 text-center">
            <img src="@Html.DisplayFor(model => model.Image)" alt="Movie Image" style="max-width: 90%; height: auto" />
        </div>

        <!-- Second Column: Movie Details -->
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ReleaseYear)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ReleaseYear)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Ratings)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Ratings)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Genre.Name) <!-- Assuming Genre.Name is the name of the genre -->
                </dd>
            </dl>
        </div>
    </div>

    <!-- Edit and Back to List links -->
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
